
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* isto é a section, o pai da parada toda */
.criar_conta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    margin: 50px;
}

/* div dos textos */
.textos p {
    margin: 5px 0;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
}


#textos {
    flex-grow: 0.2;
}

/* coloquei a palavra talento separada dos outros textos */
.talento {
    color: #007BE5;
    font-family: "Poppins", sans-serif;
}

/* tag <button> */
.botao_criar_conta {
    color: #04A777;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: green;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px){
    .criar_conta {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .textos p{
        font-size: 16px;
    }

    .botao_criar_conta {
        font-size: 16px;
        padding: 10px 20px;
    }
}
